* {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}


/* *::selection {
  background: #ddd;
} */


body {
  /* background-image: url('../images/backdrop-1.jpg'); */
  background-position: center;
  font-family: 'Nunito', Arial, sans-serif;
}


main, footer {
  padding: 0 50px;
}


.header{
  background-color: teal;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}


.top {
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}


.top h2 {
  color: ;
  font-weight: bold;
  padding-bottom: 10px;
}


.top p{
  color: ;
  font-style: italic;
  padding-bottom: 10px;
}


.form-break {
  border-top: 5px #2D3945 solid;
  height: 2px;
  border-bottom: 2px #2D3945 solid;
  border-left: 0;
  border-right: 0;
}


.newsletter-break {
  border: 1px #2D3945 solid;
}


form {
  display: flex;
  flex-direction: column;
}


form legend {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}


fieldset {
  border: 0;
  margin: 20px 0;
}

h4 {
  font-size: 15px;
  font-style: italic;
  color: teal;
  margin-top: 20px;
}


.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.flex label {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: teal;
}


.flex input::placeholder {
  color: #ccc;
  text-align: right;
  font-style: italic;
}


.flex input,
.flex select {
  background-color: #EFF0F1;
  border: #EFF0F1 1px solid;
  border-radius: 5px;
  padding: 5px 10px;

}


.flex input:focus,
.flex select:focus {
 outline: none;
 border: teal 1px solid;
 box-shadow: 0 0 2px grey;
}


/* .newsletter-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */


.html-checkbox,
.css-checkbox,
.javascript-checkbox {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}


.html-radio,
.plain-text-radio {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}


.newsletter-options input,
.newsletter-options select {
  /* Learning Lesson: Width of Auto For Inputs */
  width: auto;
  margin: 10px 0;
}


.newsletter-options label {
  margin: 0 10px;
}


.newsletter-options textarea {
  margin-top: 20px;
  min-height: 100px;
  min-width: 100px;
  background-color: #EFF0F1;
  border: #EFF0F1 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}


button {
  width: 50%;
  margin: 0 auto;
  background-color: teal;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 30px;
}

.footer {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}


.footer p {
  font-weight: 400;
  font-style: italic;
  color: #999;
}


@media (min-width:768px) {

main, footer {
  margin: 0 auto;
  max-width: 40%;
}


.header{
  padding: 5px;
}


.header h1 {
  font-size: 40px;
}


.top {
  line-height: 2;
}


.top h2 {
  padding: 10px;
  font-size: 30px;
}


.top p {
  padding-bottom: 30px;
}


form {
  display: flex;
  align-items: center;
}


form legend {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}


.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}


.flex label {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  width: 100%;
}


.flex input,
.flex select {
  background-color: #EFF0F1;
  border: #EFF0F1 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}


.flex input:focus,
.flex select:focus, {
 outline: none;
 border: teal 1px solid;
 box-shadow: 0 0 2px grey;
}


.newsletter-options input:focus,
.newsletter-options textarea:focus {
  outline: none;
  border: teal 1px solid;
  box-shadow: 0 0 2px grey;
}


}
